<div class="card contenedor-tutoriales">
  <img
    class="card-img-top img-responsive mi-responsive"
    src="assets/images/cards/portada.svg"

    alt="metaRestaurante te ofrece una web en la que los cliente pueden elegir menús y carta online con entrega a domicilio o recogida en restaurante"
  />
  <div class="card-body">
    <h4 class="card-title">metaRestaurante tu web fácil de mantener</h4>
    <p class="card-text sangria">
      Una página web de metaRestaurante te permitirá tener una presencia destacada en interner, con lo que conseguirás captar clientes para tu 
      restaurate. Desde tu página podrás hacer un fácil mantenimiento de los productos que ofreces. Una sencilla interfaz de usuario te permitira
      actualizar fotos, comentarios y precios de tus menus y de tu carta.
    </p>
    <p class="card-text sangria">
      metaRestaurante proporcionará un desiño claro y amigable, enfocado a dar una cuidada presentación a los productos. Por parte de 
      usuario, será muy importante la selección de imágenes, que deberán presentar el producto de forma clara y estética.        
    </p> 
    <p class="card-text sangria">
     Los clientes en sesión, elaborarán sus pedidos online de forma muy sencilla, seleccionando al final del proceso la entrega a domicilio o recogida en restaurante. 
    </p> 
  </div>
</div>