
.card-dashboard-titulo {
    background-color:rgb(242, 240, 243);
}

.card-dashboard {
    background-color:rgb(242, 240, 243);
    border-color: rgb(164, 127, 179);
    border-width: 1px;
    
}

.pie {
    padding-bottom: 70px;
    padding-right: 70px;
}