<div class="card contenedor-tutoriales">

  <video controls>
    <source src="{{video}}" type="video/mp4">
  </video>
  <div class="card-body">
    <h5 class="card-title">Actualiza los datos de tu restaurante</h5>
    <p class="card-text">
      Para actualizar los datos del restaurante, deberemos registrarnos e iniciar sesión con perfil de administrador.
      <br>
      Seleccionamos "datos de empresa" y rellenamos los campos que se muestarn, teniendo en cuenta que los campos
      marcados con asterisco son obligatorios.
      <br>
      Los campos "cuenta de correo" y "url de la web", estarán asignados por desarrollador y normalmente no deberán
      modificarse.
      <br>
      En el campo "portada", pondremos el texto enriquecido que aparecerá en la página principal de nuestra web.
      <br>
      En este formulario, podremos asignar los días de descanso, horario del restaurante, el tiempo mínimo en el que se
      tendrá disponible un pedido y el
      número días máximo en los que el cliente puede solicitar un pedido.
    </p>
    <!-- <a href="{{urlWebDemo}}" class="btn btn-primary">Inténtalo en la web de demostración</a> -->

    <li class="text-center p-3 upgrade-btn">
      <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
  </li>

  </div>
</div>