<div class="card contenedor-tutoriales">

  <video controls>
    <source src="{{video}}" type="video/mp4">
  </video>
  <div class="card-body">
    <h5 class="card-title">Gestión de pedidos</h5>
    <p class="card-text sangria">
      Para entrar en gestión de pedidos, deberemos iniciar sesión con perfil de administrador.
    </p>
    <p class="card-text sangria">
        Al entrar se mostrará una lista con pedidos del día. Podremos filtrar por 
        estado, fecha de registro, fecha de entrega, lugar entrega, cliente, nota del cliente.
        Tambien podremos ordernar por diversos campos y mostrar de forma ascendente o descendente.
        Desde aquí será donde el administrador pueda cambiar el estado de un pedido, y pasarlo 
        por ejemplo a estado pedido abonado o directamente eliminar de la base de datos el pedido.
    </p>
    <li class="text-center p-3 upgrade-btn">
      <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
    </li>
  </div>
</div>