<div class="card contenedor-tutoriales">

  <video controls>
    <source src="{{video}}" type="video/mp4">
  </video>
  <div class="card-body">
    <h5 class="card-title">Configuración de menús</h5>
    <p class="card-text sangria">
      Para actualizar un meú, deberemos registrarnos e iniciar sesión con perfil de administrador.
    </p>
    <p class="card-text sangria">
        Desde esta opción podremos añadir, eliminar o modificar un menú.
        Un menú se compone de primer plato, segundo y postre. A cada uno de esto componentes podemos asignarle una o varias 
        sugerencias del menú. 
    </p>

    <p class="card-text sangria">
      Al entrar en edición, podremos cambiar precio, descripción, identificador y añadir o quitar opciones en los componentes del menú. 
 
  </p>
    <li class="text-center p-3 upgrade-btn">
      <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
    </li>
  </div>
</div>