<div class="card contenedor-tutoriales">
  <video controls>
    <source src="{{video}}" type="video/mp4">
  </video>
  <div class="card-body">
    <h5 class="card-title">Categorías o grupos para los artículos de la carta</h5>
    <p class="card-text sangria">
      Para actualizar las imagenes, deberemos registrarnos e iniciar sesión con perfil de administrador.
    </p>
    <p class="card-text sangria">
      Los grupos que definimos en este apartado, nos serán muy útil para establecer filtros que faciliten la busqueda de 
      elementos o sugerencias de la carta.
    </p>
    <li class="text-center p-3 upgrade-btn">
      <a href="{{urlWebDemo}}" class="btn btn-lg d-block w-100 btn-dark">Inténtalo en la web de demostración</a>
    </li>
  </div>
</div>